.card{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    font-family: system-ui, sans-serif;
    font-weight:bold;
    background-color: #fff;
    opacity: 0.85;
    font-size: 0.7rem;
    margin: 3px;
}

.img{
    margin: 0;
    padding: 0;
    width: 13rem;
    height: 8rem;
    flex-direction: column;
    border-radius: 10px;
    opacity: 1;
}